/*variables*/
.general, .bodysection, .bodysectionContacto, .seccionHeader, .seccionesFooter {
  width: 100%;
  margin: auto;
  display: grid; }

.generalView {
  background: green; }
  body.dark .generalView {
    background: grey; }

.bodysection {
  grid-template-columns: repeat(3, 1fr); }

.bodysectionContacto {
  grid-template-columns: repeat(2, 1fr); }

.seccionHeader {
  background: green;
  grid-template-columns: repeat(3, 1fr); }
  body.dark .seccionHeader {
    background: black; }

.seccionesFooter {
  background-color: green;
  grid-template-columns: repeat(3, 1fr); }
  .seccionesFooter.dark {
    background: black; }

nav ul li {
  display: inline-block;
  list-style: none;
  margin-left: 25px;
  text-align: center; }
  nav ul li a {
    padding: 15px;
    color: white;
    text-decoration: none;
    display: inline-block; }
    nav ul li a:hover {
      color: black;
      background-color: #a0cfa0; }
      body.dark nav ul li a:hover {
        background-color: #b4a9a9; }

body {
  background-image: url(../photos/moroccan-flowerBackground.png);
  font-family: 'Nunito Sans', sans-serif; }
  body.dark {
    background-image: url(../photos/micro_carbon.png); }

body.dark .darkFontColor, body.dark p, body.dark h1, body.dark h2 {
  color: white; }

p {
  font-style: italic; }

.blod-p {
  font-weight: bold; }

body.dark .darkCards {
  color: black; }

body.dark .darkLabels {
  color: white; }

.card2:hover {
  transform: translate(20px, 10px); }

.nonBodyColor {
  color: white; }

.imagenDeInicio {
  text-align: center; }

.navegacion {
  width: 100%;
  margin: auto; }

.producto {
  max-width: 250px;
  max-height: 250px;
  margin: 2rem; }
  .producto:hover {
    transform: scale(1.2, 1.2); }

.productSection {
  max-width: max-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.formulario {
  padding: 25px; }

.switch {
  background: #343d5b;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none; }
  .switch::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3 ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2); }
  .switch.active {
    background: orange;
    color: black; }
    .switch.active::after {
      left: unset;
      right: 0; }
  .switch span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff; }

.redSocial a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0c492b;
  text-align: center;
  transition: all 300ms ease; }
  body.dark .redSocial a {
    background-color: black; }
